#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
build
.gradle

#runtime
eclipse
run

#mac
.DS_Store
*.command

#workspace
saves
asm
config
logs
screenshots
mods
world
lib
libs

*.txt
/server.properties
*.dat
*.psd
