# Resizing chisel input slot
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_238746_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/inventory/container/Slot;)V # moveItems
protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected

public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos

# Custom RenderType
public net.minecraft.client.renderer.RenderState field_228515_g_ # TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderState field_239236_S_ # TRANSLUCENT_TARGET

# Material Colors
public net.minecraft.block.AbstractBlock$Properties field_235800_b_ # blockColors

# Tool type fixes
public net.minecraft.block.AbstractBlock field_235684_aB_ # properties

# TODO 1.14+
#protected net.minecraft.client.gui.inventory.GuiContainer field_146993_M #doubleClick
#protected net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot; #getSlotAtPosition